/* You can add global styles to this file, and also import other style files */
html,
body {
  margin: 0;
  min-height: 100%;
}
body {
  /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#ffffff+0,f1f1f1+18,e1e1e1+94,f6f6f6+100 */
  background: rgb(255, 255, 255); /* Old browsers */
  background: -moz-radial-gradient(
    center,
    ellipse cover,
    rgba(255, 255, 255, 1) 0%,
    rgba(241, 241, 241, 1) 18%,
    rgba(225, 225, 225, 1) 94%,
    rgba(246, 246, 246, 1) 100%
  ); /* FF3.6-15 */
  background: -webkit-radial-gradient(
    center,
    ellipse cover,
    rgba(255, 255, 255, 1) 0%,
    rgba(241, 241, 241, 1) 18%,
    rgba(225, 225, 225, 1) 94%,
    rgba(246, 246, 246, 1) 100%
  ); /* Chrome10-25,Safari5.1-6 */
  background: radial-gradient(
    ellipse at center,
    rgba(255, 255, 255, 1) 0%,
    rgba(241, 241, 241, 1) 18%,
    rgba(225, 225, 225, 1) 94%,
    rgba(246, 246, 246, 1) 100%
  ); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f6f6f6',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
  background-repeat: no-repeat;
  background-size: cover;

  
  font-family: "Share", cursive;
}
